<%= form_with(model: monitored_endpoint, class: "w-full") do |form| %>

  <%= form.label :title %>
  <%= form.text_field :title, placeholder: "Title" %>
  <%= field_errors(form.object, :title) %>

  <%= form.label :url %>
  <%= form.url_field :url, placeholder: "Url" %>
  <%= field_errors(form.object, :url) %>

  <%= form.label :threshold %>
  <%= form.number_field :threshold, placeholder: "Threshold" %>
  <%= field_errors(form.object, :threshold) %>

  <%= form.label :interval %>
  <%= form.number_field :interval, placeholder: "Interval" %>
  <%= field_errors(form.object, :interval) %>

  <div class="flex items-center gap">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Back", monitored_endpoints_path %>
  </div>
<% end %>
