<div class="flex gap">
  <%= monitored_endpoint.url %> (Threshold: <%= monitored_endpoint.threshold %>ms, Interval: <%= monitored_endpoint.interval %> sec)
  <%= link_to "Edit", edit_monitored_endpoint_path(monitored_endpoint) %>
  <%= link_to "Delete", monitored_endpoint_path(monitored_endpoint), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>

<div class="uptime-history">
  <% monitored_endpoint.statuses_by_day(from: 90.days.ago.to_date, to: Date.current).each do |date, status| %>
    <% if status %>
      <div contents data-controller="popover" data-action="mouseenter->popover#debouncedShow mouseleave->popover#debouncedHide">
        <a href="" class="uptime-history__day uptime-history__day--<%= status %>" data-popover-target="trigger">
          <div popover="hint" class="popover popover--block-end-start" data-popover-target="content" role="dialog">
            <%= turbo_frame_tag "details-#{date}", src: monitored_endpoint_daily_detail_path(monitored_endpoint, date), loading: :lazy %>
          </div>
        </a>
      </div>
    <% else %>
      <div href="" class="uptime-history__day uptime-history__day--<%= status %>"></div>
    <% end %>
  <% end %>
