<% turbo_refreshes_with method: :morph, scroll: :preserve %>
<% @monitored_endpoints.each do |monitored_endpoint| %>
  <%= turbo_stream_from monitored_endpoint %>
<% end %>

<% content_for :title, "Monitored endpoints" %>

<div class="flex justify-between items-center">
  <h1>Monitored endpoints</h1>
  <%= link_to "New monitored endpoint", new_monitored_endpoint_path %>
</div>

<div id="monitored_endpoints">
  <% if @monitored_endpoints.any? %>
    <% @monitored_endpoints.each do |monitored_endpoint| %>
      <div>

        <div class="flex justify-between items-center">
          <h2><%= monitored_endpoint.title %></h2>
          <%= monitored_endpoint.response_status %>
        </div>

        <%= render monitored_endpoint %>
      </div>
    <% end %>
  <% else %>
    <p>No monitored endpoints found.</p>
  <% end %>
</div>
