<%= turbo_stream_from @monitored_endpoint %>

<% content_for :title, "Showing monitored endpoint" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= @monitored_endpoint.title %></h1>
    <div>
      <%= link_to "Edit this monitored endpoint", edit_monitored_endpoint_path(@monitored_endpoint), class: "btn btn-primary" %>
      <div class="sm:inline-block mt-2 sm:mt-0 sm:ml-2">
        <%= button_to "Destroy this monitored endpoint", @monitored_endpoint, method: :delete, class: "btn", data: { turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>

  <div class="breadcrumbs text-sm">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Monitored endpoints", monitored_endpoints_path %></li>
      <li><%= @monitored_endpoint.title %></li>
    </ul>
  </div>

  <%= render @monitored_endpoint %>
  <p class="text-gray-600">status: <%= @monitored_endpoint.status %></p>

  <table class="min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th>Date</th>
        <th>Average latency</th>
        <th>Response count</th>
        <th>Incedent response count</th>
        <th>Degraded response count</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% @average_response_time.each do |date, value| %>
        <% responses_count = @responses_counts.dig(date) || 0 %>
        <% incedent_count = @incedent_counts.dig(date) || 0 %>
        <% degraded_count = @degraded_counts.dig(date) || 0 %>
        <tr
          class="<%= class_names(
            "bg-green-100 text-green-800": (incedent_count == 0 && degraded_count == 0),
            "bg-yellow-100 text-yellow-800": (incedent_count == 0 && degraded_count > 0),
            "bg-red-100 text-red-800": (incedent_count > 0),
          ) %>"
        >
          <td><%= l date, format: :long %></td>
          <td><%= value %></td>
          <td><%= responses_count %></td>
          <td><%= incedent_count %></td>
          <td><%= degraded_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

